<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_styles/gallery.css">
    <title>Image Gallery</title>
</head>
<body>
    <!-- Image Gallery section all image in one div -->
    <div class="gallery">
        
    <div class="gallery-item">
      <img 
 src="../images/home/bbc.jpg" 
onclick="../images/home/bbc.jpg" alt="Image 1">
    </div>    
  </div>
    
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
  </div>
    <script src="../_scripts/gallery.js"></script>
</body>
</html>
