<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../_styles/imgrid.css">
</head>
<body>

<!-- Header -->
<div class="header" id="myHeader">
  <h1>Image Grid</h1>
  <p>Click on the buttons to change the grid view.</p>
  <button class="btn" onclick="one()">1</button>
  <button class="btn active" onclick="two()">2</button>
  <button class="btn" onclick="four()">4</button>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
    <img src="../images/home/bbc.jpg" style="width:100%">
  </div>
</div>

<script src="../scripts/imgrid.js"></script>

</body>
</html>
