{% assign programme = site.programmes
  | where_exp: "programme", "programme.slug == include.lookup"
  | first
  | default: include
%}

<div class="card-wrapper">
  <a
    {% if page.slug != programme.slug %}
      href="{{ programme.url | relative_url }}"
    {% endif %}
    class="card"
    data-style="{{ include.style }}"
    aria-label="{{ programme.title | default: "programme link" }}"
  >
    <img
      src="{{ programme.image | relative_url }}"
      class="card-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>    
  
</div>
