{% assign programme = site.programmes
  | where_exp: "programme", "programme.slug == include.lookup"
  | first
  | default: include
%}

<div class="portrait-wrapper">
  <a
    {% if page.slug != programme.slug %}
      href="{{ programme.url | relative_url }}"
    {% endif %}
    class="card"
    data-style="{{ include.style }}"
    aria-label="{{ programme.name | default: "programme link" }}"
  >
    <img
      src="{{ programme.image | relative_url }}"
      class="card-image"
      alt="programme portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if programme.name or programme.role or programme.description %}
      <span class="portrait-text">
        {% if programme.name %}
          <span class="portrait-name">
            {{ programme.name }}
          </span>
        {% endif %}

        {% if programme.role or programme.description %}
          <span class="portrait-role">
            {% assign type = site.data.types[programme.role] %}
            {% include icon.html icon=type.icon %}
            <span>{{ programme.description | default: type.description }}</span>
          </span>
        {% endif %}
      </span>
    {% endif %}
  </a>
</div>
