<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>
</head>
<body>

<!-- Header -->
<div class="header" id="myHeader">
  <button class="btn" onclick="one()">1</button>
  <button class="btn" onclick="two()">2</button>
  <button class="btn active" onclick="four()">4</button>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
<!-- Year 2025 -->
    <a target="_blank" href="../images/news/News_2025_019.jpg">
                   <img src="../images/news/News_2025_019.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_015.jpg">
                   <img src="../images/news/News_2025_015.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_013.jpg">
                   <img src="../images/news/News_2025_013.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_010.jpg">
                   <img src="../images/news/News_2025_010.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_006.jpg">
                   <img src="../images/news/News_2025_006.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_002.jpg">
                   <img src="../images/news/News_2025_002.jpg" style="width:100%"> </a>
<!-- Year 2024 -->
    <a target="_blank" href="../images/news/News_2024_012.jpg">
                   <img src="../images/news/News_2024_012.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_008.jpg">
                   <img src="../images/news/News_2024_008.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_004.jpg">
                   <img src="../images/news/News_2024_004.jpg" style="width:100%"> </a>
<!-- Year 2023 -->
    <a target="_blank" href="../images/news/News_2023_005.jpg">
                   <img src="../images/news/News_2023_005.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2023_002.jpg">
                   <img src="../images/news/News_2023_002.jpg" style="width:100%"> </a>
<!-- Yearless -->
    <a target="_blank" href="../images/archive/0000-00-Logo.jpg">
                   <img src="../images/archive/0000-00-Logo.jpg" style="width:70%"> </a>
  </div>
  
  <div class="column">
<!-- Year 2025 -->
    <a target="_blank" href="../images/news/News_2025_016.jpg">
                   <img src="../images/news/News_2025_016.jpg" style="width:100%"> </a>
    <video width="100%" controls>
      <source src="../images/news/News_2025_014.mp4" type="video/mp4"> Your browser does not support HTML video. </video>
    <a target="_blank" href="../images/news/News_2025_009.jpg">
                   <img src="../images/news/News_2025_009.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_005.jpg">
                   <img src="../images/news/News_2025_005.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_001.jpg">
                   <img src="../images/news/News_2025_001.jpg" style="width:100%"> </a>
<!-- Year 2024 -->
    <a target="_blank" href="../images/news/News_2024_011.jpg">
                   <img src="../images/news/News_2024_011.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_007.jpg">
                   <img src="../images/news/News_2024_007.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_003.jpg">
                   <img src="../images/news/News_2024_003.jpg" style="width:100%"> </a>
<!-- Year 2023 -->
    <a target="_blank" href="../images/news/News_2023_004.jpg">
                   <img src="../images/news/News_2023_004.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2023_001.jpg">
                   <img src="../images/news/News_2023_001.jpg" style="width:100%"> </a>
<!-- Yearless -->
    <a target="_blank" href="../images/archive/0000-00-BR.jpg">
                   <img src="../images/archive/0000-00-BR.jpg" style="width:100%"> </a>
  </div>
  
  <div class="column">
<!-- Year 2025 -->
    <a target="_blank" href="../images/news/News_2025_017.jpg">
                   <img src="../images/news/News_2025_017.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_012.jpg">
                   <img src="../images/news/News_2025_012.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_008.jpg">
                   <img src="../images/news/News_2025_008.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_004.jpg">
                   <img src="../images/news/News_2025_004.jpg" style="width:100%"> </a>
<!-- Year 2024 -->
    <a target="_blank" href="../images/news/News_2024_014.jpg">
                   <img src="../images/news/News_2024_014.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_010.jpg">
                   <img src="../images/news/News_2024_010.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_006.jpg">
                   <img src="../images/news/News_2024_006.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_002.jpg">
                   <img src="../images/news/News_2024_002.jpg" style="width:100%"> </a>
<!-- Year 2023 -->
    <a target="_blank" href="../images/news/News_2023_003.jpg">
                   <img src="../images/news/News_2023_003.jpg" style="width:100%"> </a>
<!-- Yearless -->
    <a target="_blank" href="../images/archive/0000-00-BR01.jpg">
                   <img src="../images/archive/0000-00-BR01.jpg" style="width:100%"> </a>
  </div>
  
  <div class="column">
<!-- Year 2025 -->
    <a target="_blank" href="../images/news/News_2025_018.jpg">
                   <img src="../images/news/News_2025_018.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_011.jpg">
                   <img src="../images/news/News_2025_011.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_007.jpg">
                   <img src="../images/news/News_2025_007.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2025_003.jpg">
                   <img src="../images/news/News_2025_003.jpg" style="width:100%"> </a>
<!-- Year 2024 -->
    <a target="_blank" href="../images/news/News_2024_013.jpg">
                   <img src="../images/news/News_2024_013.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_009.jpg">
                   <img src="../images/news/News_2024_009.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_005.jpg">
                   <img src="../images/news/News_2024_005.jpg" style="width:100%"> </a>
    <a target="_blank" href="../images/news/News_2024_001.jpg">
                   <img src="../images/news/News_2024_001.jpg" style="width:100%"> </a>
  </div>
</div>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
